<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
 
 
 
 
 
 <bean class="com.day1Ap8.Course" name="course">
 <property name="cid" value="201"></property>
 <property name="cname" value="java full stack"></property>
 
 </bean>
 
 <bean class="com.day1Ap8.Learner"  name="learners">
 <property name="id" value="101" />
 
 <property name="name" value="aryan" />
 
 
 <property name="city">
 <value>delhi</value>
 </property>
 
 <property name="pno">
 <value>987546262552</value>
 </property>
 
 <property name="course" ref="course" ></property>
 
 </bean>
 
 
 
 
 </beans>